In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import gmaps.datasets

In [2]:
# Store the CSV created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Wegrow,PL,2022-07-07 15:50:43,52.3995,22.0163,69.91,55,95,6.13,overcast clouds
1,1,Umm Lajj,SA,2022-07-07 15:48:43,25.0213,37.2685,88.93,48,40,9.51,scattered clouds
2,2,Port Alfred,ZA,2022-07-07 15:48:28,-33.5906,26.8910,59.18,76,31,1.01,scattered clouds
3,3,Esna,EG,2022-07-07 15:50:43,25.2934,32.5540,102.22,9,27,13.60,scattered clouds
4,4,Gat,IL,2022-07-07 15:50:04,31.6100,34.7642,86.40,38,0,10.67,clear sky

In [3]:
# Get the data types b/c in gmaps any data used for mapping must be an integer or floating-point decimal
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
# Configure gmaps to use g_key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig1.add_layer(heat_layer)
# Call the figure to plot the data.
fig1

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig2.add_layer(heat_layer)
# Call the figure to plot the data.
fig2

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig3.add_layer(heat_layer)
# Call the figure to plot the data.
fig3

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig4 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig4.add_layer(heat_layer)
# Call the figure to plot the data.
fig4

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Aek the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?76
What is the maximum temperature you would like for your trip?98

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Umm Lajj,SA,2022-07-07 15:48:43,25.0213,37.2685,88.93,48,40,9.51,scattered clouds
4,4,Gat,IL,2022-07-07 15:50:04,31.6100,34.7642,86.40,38,0,10.67,clear sky
7,7,Suez,EG,2022-07-07 15:42:00,29.9737,32.5263,94.19,17,0,4.81,clear sky
11,11,Kisangani,CD,2022-07-07 15:50:44,0.5167,25.2000,83.35,54,24,1.23,few clouds
12,12,Sinnamary,GF,2022-07-07 15:49:22,5.3833,-52.9500,84.70,66,26,10.40,scattered clouds
14,14,Georgetown,MY,2022-07-07 15:45:50,5.4112,100.3354,85.95,78,20,5.75,few clouds
15,15,Opuwo,NaN,2022-07-07 15:40:59,-18.0607,13.8400,77.14,17,0,9.93,clear sky
16,16,Santa Isabel Do Rio Negro,BR,2022-07-07 15:42:37,-0.4139,-65.0192,91.27,47,7,4.38,clear sky
19,19,Port Blair,IN,2022-07-07 15:48:28,11.6667,92.7500,81.68,84,100,12.41,overcast clouds
20,20,Victoria,HK,2022-07-07 15:46:14,22.2855,114.1577,85.32,88,100,11.99,overcast clouds

In [12]:
preferred_cities_df.count()

City_ID                637
City                   637
Country                633
Date                   637
Lat                    637
Lng                    637
Max Temp               637
Humidity               637
Cloudiness             637
Wind Speed             637
Current Description    637
dtype: int64

In [13]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
1                    Umm Lajj      SA     88.93  25.0213   37.2685
4                         Gat      IL     86.40  31.6100   34.7642
7                        Suez      EG     94.19  29.9737   32.5263
11                  Kisangani      CD     83.35   0.5167   25.2000
12                  Sinnamary      GF     84.70   5.3833  -52.9500
14                 Georgetown      MY     85.95   5.4112  100.3354
15                      Opuwo     NaN     77.14 -18.0607   13.8400
16  Santa Isabel Do Rio Negro      BR     91.27  -0.4139  -65.0192
19                 Port Blair      IN     81.68  11.6667   92.7500
20                   Victoria      HK     85.32  22.2855  114.1577

In [14]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitiude and the longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the result and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Umm Lajj,SA,88.93,25.0213,37.2685,Moon light Furnished Units
4,Gat,IL,86.40,31.6100,34.7642,OlusHome
7,Suez,EG,94.19,29.9737,32.5263,Green House
11,Kisangani,CD,83.35,0.5167,25.2000,Grand Ramela Hotel
12,Sinnamary,GF,84.70,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
14,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
15,Opuwo,NaN,77.14,-18.0607,13.8400,ABBA Guesthouse
16,Santa Isabel Do Rio Negro,BR,91.27,-0.4139,-65.0192,Hotel GSA
19,Port Blair,IN,81.68,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
20,Victoria,HK,85.32,22.2855,114.1577,Mini Central

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))